<% include ../partials/header %>

	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to ArchApp!</h1>
			<p>View newest architecture highlight from all over the world</p>
			<p>
				<a class="btn btn-sm btn-outline-dark btn-lg" href="/projects/new">Add New Project</a>
			</p>
		</div>
	</header>

	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
		<% projects.forEach(function(project) {%>
			<div class="col-md-6">
				<div class="thumbnail">
					<a href="/projects/<%= project._id %>"><img style="height: 300px" src="<%= project.image %>"></a>
					<a href="/projects/<%= project._id %>"><h5><%= project.name %></h5></a> 
					<div class="caption">
						<p>
							<%= project.year %><br>
							<%= project.location %><br>
							<%= project.architects %><br>
						</p>
					</div>
				</div>	
			</div>
		<%	}); %>
	</div>

<% include ../partials/footer %>